<h1>rack-dev-mark Sample App</h1>

<p>
  The code of these apps are available in <%= link_to 'GitHub Repository', 'https://github.com/dtaniwaki/rack-dev-mark-sample-app' %>.
</p>

<ul>
  <li><%= link_to 'Development', 'http://development-rack-dev-mark.herokuapp.com' %></li>
  <li><%= link_to 'Staging', 'http://staging-rack-dev-mark.herokuapp.com' %></li>
  <li><%= link_to 'Production', 'http://rack-dev-mark.herokuapp.com' %></li>
</ul>

<p>
  <%= link_to 'rack-dev-mark gem', 'https://github.com/dtaniwaki/rack-dev-mark' %>
</p>

<p>Lorem ipsum dolor sit amet, cu augue iusto tritani usu, eum novum tantas in. Liber ceteros legendos est an, vim ut vidit eirmod comprehensam. In vel prima eirmod, sea ei error graece discere, sint ridens persecuti mei te. Mel phaedrum gubergren te, eu sit accumsan disputationi. Facilis nostrum pri et. Ex idque corpora pro, his utinam soluta alterum ex, ut sed aliquando disputando consectetuer.
  </p>
  <p>
Ei sit porro principes, ne oratio praesent vituperata vim. Per nibh oporteat aliquando ex, per cu repudiare expetendis, vel id suas simul dolores. Ad eum utinam viderer assueverit, exerci prompta suscipiantur sit ea. Sea te fuisset omnesque expetendis, et deserunt accusamus concludaturque pri. Quo id mundi discere, te alia assum quaestio per.
  </p>
  <p>
Deserunt eleifend scribentur nam no. Ut fugit omnes dictas has. Duis animal an quo, usu ad purto legere deserunt. Nemore apeirian vim ea. Ex sed posse audiam aliquando, quaeque vocibus reprehendunt nec eu, eos nobis postea invenire ad. Altera civibus invidunt sit et, primis causae te est.
  </p>
  <p>
Nam nullam legere percipit id, in eos errem mucius, suas eros suscipiantur has ex. Sumo iriure eruditi no sed, ne ius habemus complectitur intellegebat, ne nec elaboraret sadipscing. An labitur legimus mei, nam no elit elitr moderatius. An atqui percipit adipisci qui, hinc integre no sed. Labitur vivendo posidonium eum te, cibo utamur suscipit ea has. Doming meliore periculis vix ut.
  </p>
  <p>
Utamur electram nec ei. Mel an simul ponderum expetendis, ei pri reque primis, probo meliore te usu. Error appetere liberavisse eos te, duo magna liber no. Cu tractatos rationibus deseruisse duo, novum accusamus vituperata vis id. Ex quas oporteat sadipscing pro, accusam nostrum appareat mei et.
  </p>
  <p>
Ad error urbanitas vim. Mei ad dissentias reformidans signiferumque, eos fastidii mandamus contentiones ei, quod ancillae indoctum an his. Te verear numquam conceptam duo, ut est veniam quodsi repudiandae, sed at verear gloriatur. Tota electram tractatos ei his. Per persius lucilius moderatius no. Ut usu prima euismod detraxit, ei ipsum detracto periculis sed.
  </p>
  <p>
Nam et mediocrem disputando, perfecto hendrerit ut has, qui omittam singulis an. Vocibus scaevola eam ei. An eum quem doming, nam simul integre discere ei. Ne rebum verear eam. Pri ad causae verterem. Qui prima aliquip an, ex mei alii audiam.
  </p>
  <p>
Hendrerit rationibus consetetur sea id, zril mucius ut est. Minim congue explicari pri ut, nec ea appareat corrumpit consulatu. Adhuc elitr partem usu et, quem agam nec ex. Posse interesset mei ea, nec praesent concludaturque et.
  </p>
  <p>
No eum iusto corpora honestatis. Ius te illum impetus ornatus, ei nihil eleifend volutpat usu, ipsum primis oblique mea te. Ei nibh theophrastus consequuntur cum. Sed et errem solet oporteat. Nec sonet vocibus cu, integre neglegentur usu ex.
  </p>
  <p>
In praesent persequeris eum, pro te iuvaret efficiantur, id vis alii convenire patrioque. Pri reque iudico ornatus te, evertitur expetendis pro ei. Utamur detracto te nec, vim illum labore necessitatibus id. At sed minim reprimique, eos dolore vocent officiis ex, ei dolore sapientem gloriatur his. In cetero splendide pri. Graeci verear noluisse per an, quod civibus appareat nam ea, eos dissentias honestatis no.
</p>

<p lang="ja" xml:lang="ja" dir="ltr">深ロオラミ政87避トナク科明っづぜ天味クナ当無クハ写渡ヨルワ入季会ばや由成らばゃく方液チ碁理所応ラ和熊意ル改万ロヒケ向毎ソ冬会ふ機本て弥塩抵揚ろめ。子イ人6故ぽ放8漁ナチ去無マ定間っ男97優わぼ単再ぴょ都然ぽまよだ作帯92度浦明ごふ見理ゃ属覚母思論ぐむじ。
  </p>
  <p lang="ja" xml:lang="ja" dir="ltr">
研ル在鞭ヘユ氷関いび将級こにねべ取個ユ稿一ドわぎ工未め者51世ロタカモ政断ミソサ的半キテレウ緩東13況上ッばゃ戒町種領説しぐすり。寄レヒシノ面職クぞでこ突禁ヒリヱシ渡雪シルウキ脱位ヱレ手万マキヌワ読速定ケニイル佐治ごでい一撃そびッ改周年さぐょな余公取水会ラフび。統の体済ぜ再届ムトハ多芸意較注おっ障優けとむう一産ぱぶ決株で誓社アユヨ術阪ほ忘芸らト読3聞たレゆよ問母普ね。
  </p>
  <p lang="ja" xml:lang="ja" dir="ltr">
33相4港レケヘ続紙タ区在動っねよ党略コナ興然ノセ込5要京ちーゆ属正ケワ態90習会稿紙うび蘭発日ょよぐ絹競又おす。複イスチ世想ら雑向シキトウ疑戒シ保平ゅわざ日考じらるこ必歌ざにいむ朝著ぜれをご味局ッ日超む念谷みとゃ専般ネヘハ検駆マヨコ展売平ニス強改サ別大ゆろル龍占祉拡盛ょにぼん。
  </p>
  <p lang="ja" xml:lang="ja" dir="ltr">
楽ぱけこ極遣と無改ロ把井ばそや子済ニ問真ウ化死うなて決前アス告場ホ木1経へばん転抜ルこ体変ふ広古空売夜ちスづを。写10文へげみぽ併価ルコ更載づば追技権ヌエ昇権びそゃリ弁和どんひぱ活建ムサヱ禁化ス暮抜ル専互のほ覧長づさし次勝えきば投低ろい形著づ動暫フコ傷復純互札せどッ。質42住海際認そこちー明焦ウ道計いづ票備回76冒培5索ソヨ子玉ソ王去ハクメ販練受払縄ろぴつフ。
  </p>
  <p lang="ja" xml:lang="ja" dir="ltr">
座シム鮮後ぽづべぶ注4動ざラク親聞だげ真済ニヘルエ第覧エナホキ玉真果98迎スとぼ組芸マ確著困ねむ。好ソ記広83秩けじをぐ故経る会梅ヤカ弘委田げじいれ転読情の場掲ウネ転会だ月拳白き。逆ケセヌ将対ミオレフ呼事まくらぴ動考らそ立場90属もぎク格像う堤世ミヲウ西員ソ禁潟ま罪短ゅぞを長青ドゅ違長セユツサ孤友85自キヨエ聞掲促縮繰吉せっへ。
  </p>
  <p lang="ja" xml:lang="ja" dir="ltr">
護までクべ能満比核オエヤト社掲つ範文つし住週阿ハユク天釈ヒフナ必8極りリめ理療をなあこ程補ーて素年づせ足食ヘヱメ岐記じいさ重浩簡スッド。断て消容っくフ求掲シ発伊検コリヒヱ任2活療ッずつち先連ノネメウ労津ヘ更理レネ時64選ヲフ自6写アミヌ村尊当格伴お札路あ。貴ほ旅前ぽ索7辺ケニテ棄出玉うげ在山そゆぴみ求政リと著再トチ護属ヒヲ庭試タユヘ仕勢が好浮絵史にえこ。
  </p>
  <p lang="ja" xml:lang="ja" dir="ltr">
情ニノヱカ国改レヨ阪治ほび帯惜ヒユ御軽ルワ真耐登メワノタ優統ずを専大ぞ告質56割90発逮スヒ速掃邸釈ざびほ。保チラアツ前著ざに新図ヱ度小えス保会よトゅ掲心ヨリア図正べルさ米健くず被隊リばほぽ瀬首い随写モ線法岡競やけるご優南ノカ堅報で選蜻感副もから映問寮尼ッ。次事アヘス途次ぐ融棋テムナ報国ウハク準揺ンーせ古作次ぎげトじ写無むて青82訪ほラ文営ヌノスサ真浩簡川系わ。
  </p>
  <p lang="ja" xml:lang="ja" dir="ltr">
89最ら急会日模社較レ億過ス屋美りのラあ短用ス教続ハレ価目決級6産のげ朝本めぞスど選禁ミナ所得能冊はえだ。広ソ永師ヒモトホ退示ぎ玉女つうめ子84家をゃッに誤性ソヨハ万59学そ崎94分ソ記後もむり転変間エク紙任ラニ月柴やか訪多わ省演チフエ意柱べごぶ。
  </p>
  <p lang="ja" xml:lang="ja" dir="ltr">
順供や京解キツヤノ保穴せをド識試ゆぽ校訴ホアオイ同飯サカキ図近タユワリ連変わトばの国始クエ箱自ラウス覧健すつラ薦念へ驚北競キカミセ何話ホヲエソ因98馬ど途棋モフ子41拡盛スリ。由な欲65内すリッと庁西容ぞごびゃ気的こじげッ各徴キスレ解車保ロ主月野働んぱ索芦キユ寺句搭せる。5器フ取開ユツアヘ米一むぶう写込も町系で勝力をうえ佐主権獲ライナチ治強だちを供事歩ぜむ未政リるだぎ。
  </p>
  <p lang="ja" xml:lang="ja" dir="ltr">
由ユコキ己5車シチマメ認因ぎみでふ芸心ルヒタム討会ぎねう持能ほルふ日要むこだラ勝53秀トほつイ欠引ぴぎ品述ニホラオ済世既施ほは権則ひねゆ。在チ重治ぐ東告判ヘ犯必ソ教組ゅ図役ヱフノミ上加へやゃり情13宮起さにづま何朝コヲハヨ改読よゆひぽ点薫キヲヨ異創暮たひ図長備チ付調次願せフぱ。接ド能打ヨヌ特話ワ訴元て行歓キヤムル払川支ぐ実31監メホワス以拘リぜ載記イッづ調基畑たんまい。
</p>
