<div class="page-header">
  <h1>rack-dev-mark Sample App</h1>
</div>

<div style="margin-bottom: 40px;">
  <h2>What is rack-dev-mark</h2>

  <p>
    <%= link_to 'rack-dev-mark', 'https://github.com/dtaniwaki/rack-dev-mark' %> is a rack-based gem which provides various development marks on your development websites.
  </p>

  <p>
  You can see the dev mark on the <%= link_to 'staging', 'http://staging-rack-dev-mark.herokuapp.com/' %> and <%= link_to 'development', 'http://development-rack-dev-mark.herokuapp.com/' %> within the environments while the <%= link_to 'production', 'http://rack-dev-mark.herokuapp.com/' %> site does not have any dev mark. The websites of these environments are deployed from the <%= link_to 'same repository', 'https://github.com/dtaniwaki/rack-dev-mark-sample-app' %>.
  </p>
</div>

<div style="margin-bottom: 40px;">
  <h2>Public websites with rack-dev-mark</h2>

  <div style="margin-bottom: 20px;">
    <h3>planBCD</h3>
    <%= image_tag 'planbcd.png', width: 1280 %>
  </div>
</div>
